	<form action="/tally" method="post">
<% @professors.each do |key, prof| %>
	<h3><%= prof.name %> </h3>
	
	
	<input type="radio" name="<%= key %>" value='up'>Up
	<input type="radio" name="<%= key %>" value='down'>Down
	

<% end %>
<br>

<br>
<br>

<button type="submit">submit</button>
</form>